<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>My 麺</title>
		<link rel="stylesheet" href="detail.css" />
	</head>
	<body>
		<h1>ここでは詳細情報を表示</h1>
		<%= text %>
	</body>
</html>
