<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My 麺</title>
    <link rel="stylesheet" type="text/css" href="styles/index.css">
</head>
<body>
    <h1>My麺へようこそ(メインページ)</h1>
    <%= text %>
    <button class="button-88" role="button" id="toFormButton">Button 88</button>
    <script type="text/javascript" src="scripts/index.js"></script>
</body>
</html>