<!DOCTYPE html>
<html lang="ja">
    <head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>ランキング</title>
		<link rel="stylesheet" type="text/css" href="/styles/form.css" />
    </head>

    <body>
        <h1>man</h1>
        <p>
          <% for (let n = 0; n < rows.length; n++) {%>
            <div class="item">
              <a href="/menu/<%= rows[list2[n]].id %>">
              <p class="menimage">
                <img src="/upload/<%= rows[list2[n]].image %>" alt="" width="400" height="225">
              </p>
              <p class="shopName"><%= rows[list2[n]].shopName %></p>
          </a>
        </div>
          <% } %>
        </p>
    </body>
</html>