body{
    height: 100vh;
    background-image: url(../pictures/ramen48.png);
    background-repeat: repeat;
}

h1{
    font-size: 60px;
    text-align: center;
}

.back{
    height: 100px;
    width: 200px;
}

.item{
    display: inline-block;
    width: 29%;
    vertical-align:middle;
    text-align: center;
}

.evaluaition{
    width: 100%;
    font-size: 20px;
}
.item2{
    width: 100%;
    margin: 50,20,50,20;
}
#men{
    width: 70%;
}
#Soup{
    width: 70%;
}
#Topping{
    width: 70%;
}
textarea {
    resize: none;
    width:1000px;
    height:200px;
  }

.form{
    vertical-align: middle;
    background-color: rgba(255, 255, 255, 0.500);
}
form{
    margin-left: 10%;
}