body {
	/* background-image: url(../pictures/ramen51.png); */
	font-family: Arial, sans-serif;
	background-color: #f4f3ef;
}
h1 {
	color: darkblue;
}
.shopName {
	font-size: 40px;
}
.header {
	display: flex;
	justify-content: space-between;
}
.title {
	margin-left: 50px;
	font-size: 30px;
}
.buttonDiv {
	margin-top: 50px;
	margin-right: 50px;
}
.deleteButton {
	min-width: 150px;
	height: 60px;
	color: #fff;
	padding: 5px 10px;
	font-weight: bold;
	cursor: pointer;
	transition: all 0.3s ease;
	position: relative;
	display: inline-block;
	outline: none;
	border-radius: 5px;
	z-index: 0;
	background: #fff;
	overflow: hidden;
	border: 2px solid #d90429;
	color: #d90429;
}
.deleteButton:hover {
	color: #fff;
}
.deleteButton:hover:after {
	height: 100%;
}
.deleteButton:after {
	content: "";
	position: absolute;
	z-index: -1;
	transition: all 0.3s ease;
	left: 0;
	bottom: 0;
	height: 0;
	width: 100%;
	background: #d90429;
}
.total {
	float: left;
	margin-left: -60px;
}
.main {
	display: flex;
	justify-content: space-around;
	margin-top: 100px;
}
.shop {
	margin-top: 100p;
}
.container {
	display: flex;
	justify-content: space-between;
}
.point {
	margin-left: 200px;
	display: flex;
	flex-direction: column;
	list-style: none;
	align-items: flex-start;
}

.group {
	display: flex;
	justify-content: space-between;
	width: 100%;
	white-space: nowrap;
	font-size: 40px;
}

.text {
	font-size: 20px;
	margin-right: 200px;
}
.textArea {
	background-color: aliceblue;
	word-wrap: break-word;
	width: 400px;
	height: auto;
}

.fiveStarRate {
	height: 65px;
	overflow: hidden;
}
.fiveStarRate img {
	object-fit: contain;
	background-repeat: no-repeat;
}
#score1 {
	transform: translateY(-15px);
}
#score2 {
	transform: translateY(-80px);
}
#score3 {
	transform: translateY(-150px);
}
#score4 {
	transform: translateY(-210px);
}
#score5 {
	transform: translateY(-275px);
}
